{% extends 'hospital/admin_base.html' %}

{% block content %}
  <div class="container">
    <div class="d-flex justify-content-center align-items-center mt-5" style="height:  50vh;  border:  2px solid gold; border-radius:  10px; padding:  20px;">
      <div>
        <h2>Select Patient</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Select</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
